<div class="blog-post">
  <h2 class="blog-post-title">
    <%= blogpost.title %>
  </h2>


<p class="blog-post-meta">
  <%= blogpost.created_at.to_s(:long_ordinal) %>
</p>

<article>
    <p>
      
      <%= markdown(blogpost.body) %>
    </p>

</article>
</div> <!-- blog-post -->

<%= raw tag_links(blogpost.all_tags) %>

<% if logged_in? %>
  <%= link_to 'Edit', edit_blogpost_path(blogpost) %> |
  <%= link_to 'Back', blogposts_path %>
<% end %>