<div class="col-lg-12 ">

    <h2 class="text-center"><%= blogpost.title %>
        <br>
        <small><%= blogpost.created_at.to_s(:long_ordinal) %></small>
    </h2>
    <article>
     <%= markdown(blogpost.body) %>
    </article>
    <hr>
    Tags: <%= raw tag_links(blogpost.all_tags) %>
    <hr>
</div>

<% if logged_in? %>
  <%= link_to 'Edit', edit_blogpost_path(blogpost) %> |
  <%= link_to 'Back', blogposts_path %>
<% end %>