<p id="notice"><%= notice %></p>

<p>
  <h3>
  <%= blogpost.title %>
  </h3>
</p>

<p>
  <i>
  <%= blogpost.created_at %>
  </i>
</p>

<article>
    <p>
      
      <%= markdown(blogpost.body) %>
    </p>

</article>

<%= raw tag_links(blogpost.all_tags) %>

<% if logged_in? %>
  <%= link_to 'Edit', edit_blogpost_path(blogpost) %> |
  <%= link_to 'Back', blogposts_path %>
<% end %>