

        

         
        
    
    <div class="container">

      <div class="blog-header">
        <h1 class="blog-title">Blog Posts</h1>
        <p class="lead blog-description text-center">Things That I Write Down</p>
      </div>
      
      <div class="masthead">
        
        <nav>
          <ul class="nav nav-justified">
            <li class="<%= 'active' if current_page?(blogposts_path) %>"><%= link_to "All", blogposts_path %></li>
            <li class="<%= 'active' if current_page?(tag_path("programming")) %>"><%= link_to "Programming", tag_path("programming") %></li>
            <li class="<%= 'active' if current_page?(tag_path("reviews")) %>"><%= link_to "Reviews", tag_path("reviews") %></li>
            <li class="<%= 'active' if current_page?(tag_path("interests")) %>"><%= link_to "Interests", tag_path("interests") %></li>
            <li class="<%= 'active' if current_page?(tag_path("misc")) %>"><%= link_to "Misc", tag_path("misc") %></li>
          </ul>
        </nav>
      </div>
  <div class="row">
    
    <div class="col-sm-8 blog-main">
      
      <%= render 'shared/blogpreviews' %>

     </div><!-- /.col -->
    
    <%= render 'shared/blogsidebar' %>
   

</div><!-- /.container -->


