
<div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">A little about myself...
                    </h2>
                    <hr>
                </div>
                <a name="AlertBot"></a>
                <div class="col-lg-12 ">
                    <!--<img class="img-responsive img-border img-full" src="img/slide-3.jpg" alt=""> -->
                    <h2 class="text-center">Education
                        
                    </h2>
                    <p>I knew I wanted to be a programmer all the way back in my freshman year at Freedom High School.  I took a course in Visual Basic and I loved it.  I continued to take classes in Java, C++, and web development for the duration of high school and by the end of those four years, there was no question what I'd major in at college.</p>
                    <p>Attending college at Shippensburg University in Pennsylvania, I pursued a bachelor's degree in Computer Science with a Software Engineering concentration.  Thanks to a fantastic group of professors, I received a strong education in the fundamentals and patterns of software development.  I joined and became Vice President of our school's chapter of Upsilon Pi Epsilon, the Computer Science Honor's Society.  I ended my time at Shippensburg University with a 3.8 GPA and Summa Cum Laude honors. </p>
                    <hr>
                </div>
                <div class="col-lg-12 ">
                    <!--<img class="img-responsive img-border img-full" src="img/slide-3.jpg" alt=""> -->
                    <h2 class="text-center">Professional Career
                        
                    </h2>
                    <p>Before graduating from Shippensburg University in 2009, I had lined up a position with InfoGenius, a small web development company located in Allentown.  I have worked for the company ever since, and have helped create software and web sites while maintaining the company's existing code as well.</p>
                    <p>Working in a small team dedicated to development, I have been the lead, and often the sole developer on many projects that are further detailed on the <%= link_to "projects page", projects_path(:anchor =>"AlertBot") %>.  I have greatly enjoyed my time with InfoGenius, and consider myself fortunate for landing the position straight out of college.  Our primary brand is AlertBot, which is designed to monitor clients' websites and servers, alerting them via email or text message when their site goes down or behaves unexpectedly.  In addition to this service, we also record and analyze response data so that we may report on any alarming trends developing on clients' sites.</p>
                    <hr>
                </div>
                <div class="col-lg-12 ">
                    <!--<img class="img-responsive img-border img-full" src="img/slide-3.jpg" alt=""> -->
                    <h2 class="text-center">Personal Life
                        
                    </h2>
                    <p>I live in Easton, Pennsylvania with my beautiful girlfriend, Claire, and my not so beautiful cat, Wombat.  Aside from spending time with Claire, I have many hobbies including running, working out, practicing archery, reading, playing video games, collecting geeky memorabilia, studying ancient Roman history, and of course - programming. </p>
                    <p>My hobby programming covers a wide range of languages and goals.  I've created an <%= link_to "android app with Java", projects_path(:anchor =>"EveWatch") %>, I've spent some time trying to solve some problems in <%= link_to "The Euler Project", "https://projecteuler.net/" %>, I often work on <%= link_to "a few game ideas in Unreal Engine 4", projects_path(:anchor =>"LegionaryMan") %>, and I even perform some <%= link_to "personal research", projects_path(:anchor =>"AStar") %>  on computer science subjects that interest me.  I try to use my spare time projects as a way to keep myself a well rounded programmer, as I never want to stop learning.  Even this site was created with an aim to better understand Rails and bootstrap and to just get a different perspective on web development than what I work on in my professional life.</p>
                    <hr>
                </div>
            </div>
        </div>

    </div>
    <!-- /.container -->