
    
    
    <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="4"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                              <%= image_tag("alertbotslide.jpg") %>
                              <div class="container">
                                <div class="carousel-caption">
                                  <p><%= link_to  "Learn about the AlertBot web service!".html_safe, projects_path(:anchor =>"AlertBot"), :class => "btn btn-lg btn-primary", :role =>"button" %></p>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <%= image_tag("knightrunnerslide.jpg") %>
                              <div class="container">
                                <div class="carousel-caption">
                                  <p><%= link_to  "Check out the Knight Runner game!".html_safe, projects_path(:anchor =>"KnightRunner"), :class => "btn btn-lg btn-primary", :role =>"button" %></p>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <%= image_tag("eve.jpg") %>
                              <div class="container">
                                <div class="carousel-caption">
                                  <p><%= link_to  "Stay informed with Eve Watch!".html_safe, projects_path(:anchor =>"EveWatch"), :class => "btn btn-lg btn-primary", :role =>"button" %></p>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <%= image_tag("blogslide.jpg") %>
                              <div class="container">
                                <div class="carousel-caption">
                                  <p><%= link_to  "Read the blog post that will eventually exist!".html_safe, blogposts_path, :class => "btn btn-lg btn-primary", :role =>"button" %></p>
                                </div>
                              </div>
                            </div>
                            <div class="item">
                              <%= image_tag("githubslide.jpg") %>
                              <div class="container">
                                <div class="carousel-caption">
                                  <p><%= link_to  "View my GitHub profile!".html_safe, "https://github.com/LayfieldK", :class => "btn btn-lg btn-primary", :role =>"button" %></p>
                                </div>
                              </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    
                    <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Who am I?
                    </h2>
                    <hr>
                    <!--<img class="img-responsive img-circle" src="img/intro-pic.jpg" alt="">-->
                    <hr class="visible-xs">
                    <p>I am a software and web developer living in the Lehigh Valley of Pennsylvania.  I developed an interest in computer science in middle school and have never looked back since.  I love solving puzzles, learning new things, and applying my skills as a programmer to things that I love.  My favorite things to do include producing interesting things with my skillset, relaxing with my girlfriend, and embracing geekdom.</p>
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
              <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Most Recent Blog Post
                </h2>
                <hr>
              </div>
              <%= render @blogposts %>
            </div>
        </div>
        
        <div class="row">
            <div class="box">
              <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Current Top Personal Project
                </h2>
                <hr>
              </div>
              <div class="col-lg-12 ">
                  <!--<img class="img-responsive img-border img-full" src="img/slide-3.jpg" alt=""> -->
                  <h2 class="text-center">KevinLayfield.com
                      
                  </h2>
                  <p>KevinLayfield.com was created in an effort to establish a place where friends, colleagues, and the computer science community can visit to learn more about the things that I find interesting.  I do not use many social networking sites, so this personal website is my outlet which allows me to put my thoughts and interests on the web and for others to view them if they wish.</p>
                  <p>The site was created with the Rails framework within a development environment on Cloud 9, and it is hosted through Heroku.  I created this site after completing the Ruby On Rails Tutorial by Michael Hartl, which I greatly recommend to anyone looking to learn Rails.  I created a blogging solution within the site so that I can routinely write up articles about web development, software development, the video games industry, and personal interests.  I will continue to attempt to implement features that I want to experiment with into the site as I learn more about Ruby and Rails.</p>
                  <p>Visit the site <%= link_to "here.", root_path %></p>
                  <p>Source code available <%= link_to "on Github.", "https://github.com/LayfieldK/personal-site" %></p>
                  <hr>
                </div>
            </div>
        </div>
        
        
<!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>