  <footer class="footer">

        
          <ul>
            <li><%= link_to image_tag("github.png"), "https://github.com/LayfieldK" %></li>
            <li><%= link_to image_tag("linkedin.png"), "https://www.linkedin.com/pub/kevin-layfield/66/71b/8aa" %></li>
            <li><%= link_to image_tag("stackoverflow.png"), "http://stackoverflow.com/users/5216643/kevin-layfield" %></li>
            <li><%= link_to image_tag("twitter.png"), "https://twitter.com/kevinlayfield" %></li>
            <li><%= link_to image_tag("UnrealEngine.png"), "https://answers.unrealengine.com/users/5746/evillego6.html" %></li>
          </ul>
          

</footer>